*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.contenedor{
    width: 100%;
    max-width: 1170px;
    margin: auto;
}
/*CABECERA*/
header{
    width: 100%;
    height: 200px;
    background-color: #b9f3e498;
}
.logo{
    padding: 25px 0;
}
.logo img{
    width: 100px;
    display: block;
    margin: auto;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 430px;
    margin: auto;
}
.menu a{
    text-decoration: none;
    text-anchor: middle;
    color: #534C98;
    font-size: 20px;
}
.menu a:hover{
    color: #971fa4;
}
/*FIN DE CABECERA*/
/*BANNER PRINCIPAL*/
.bannerindex{
    width: 100%;
    height: 500px;
    background-image: url(../img/fondo2.jpg);
    background-position: center;
    background-size: cover;
}
.bannerindex > div{
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.8);
}
.llamada-accion{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    height: 100%;
}
.llamada-accion p{
    font-size: 24px;
    color: rgb(204, 130, 179);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.llamada-accion h2{
    font-size: 60px;
    color: white;
    width: 100%;
    padding: 45px 0;
    max-width: 470px;
    font-family: 'Ubuntu', sans-serif;
}
.llamada-accion a{
    font-size: 22px;
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    background-color: rgba(184, 103, 255, 0.103);
    margin-top: 35px;

    transition: all 0.3s ease-in-out;
}
.llamada-accion a:hover{
    background-color: #D61355;
}

/*bienvenida*/
.bienvenida > div{
    width: 100%;
    background-color: #544c98c2;
    margin-top: 0px;
    color: #ffffff;
    text-align: center;
}
.bienvenida h3{
    font-size: 36px;
    padding-top: 100px;
    padding-bottom: 40px;
    color: #534C98;
    text-align: center;    
}
.bienvenida p{
    font-size: 22px;
    padding-bottom: 100px;
    line-height: 1.8em;
    max-width: 600px;
    margin: 0 auto;
}

/*sobre nosotros*/
.nosotros{
    padding-top: 50px;
    padding-bottom: 80px;
}
.nosotros > .contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.foto-equipo{
    width: 100%;
    max-width: 570px;
}
.foto-equipo img{
    width: 100%;
}
.conocenos{
    text-align: center;
    padding: 15px 100px;
    max-width: 600px;
}
.conocenos p:nth-child(1){
    font-size: 14px;
    color: #971fa4;
    padding-bottom: 20px;
    border-bottom: 1px solid #534C98;
}
.conocenos h3{
    padding-top: 20px;
    padding-bottom: 30px;
    color: #D61355;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.conocenos a{
    font-size: 15px;
    color: #44FADD;
    line-height: 2em;
}
/*pie de pafina*/
.center-footer{
    background-color: #D61355;
}
.center-footer .contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.center-footer .widget{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 105px;
    color: #ffffff;

    max-width: 270px;
    margin: 0 auto;
}
.center-footer .widget h4{
    padding-bottom: 35px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.center-footer .widget p{
    font-size: 14px;
}
.bottom-footer{
    background-color: rgba(252, 217, 23, 0.973);
    height: 50px;
}
.bottom-footer p{
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
}

.row{
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;

}
.icon img{
    width: 100px;
    height: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-inline: 10px;
}
.icon p{
    color: #534C98;
    font-size: 22px;
    text-transform: capitalize;
    text-align: justify;
}